/build
/dist
/*.egg-info
*.pyc
/docs-source/_build/

/docs/_build
/docs/_static
/docs/_templates

#virtualenv
/virtualenv/
/.virtualenv/
/.venv/
/venv/
/.env/
/env/
/ENV/
/venv27/
/.venv27/
/.venv3/
/venv3/
